<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="refresh" content="0; url=http://app.groupenvy.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="css/custom.css">
  <title>Groupenvy</title>
</head>

<body>
  <span class="error"></span>
  <div class="container-fluid">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-5 col-md-7 col-lg-offset-5 col-lg-7">
        <h1 class="page-header">Groupenvy</h1>
      </div>
    </div>

    <div class="row row-video">

      <div class="hidden-xs hidden-sm col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
        <div class="iphone-image">
          <img src="images/groupenvy.png" alt="Iphone" />

        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
        <p class="lead">Groupenvy is free and easy to use group/event sharing app.</p>
        <p class="lead">Search, create, share, join, promote and interact with your group of friends and pretty much everyone else.</p>
        <p class="lead">Search, explore new events and specials going on in your neighbourhood city and state and every venue across the world.</p>

        <p class="lead">Create a new group or event on Groupenvy and share it on Facebook, Twitter and Email.</p>

        <p class="lead">Connect with people based on things you're into and be part of a social community.</p>
        <form>
          <div class="input-group col-md-8">
            <input type="email" class="form-control input-lg" placeholder="Email address">
            <span class="input-group-btn">
              <button class="btn btn-default btn-lg js-submit" type="button">Get Early Access</button>
            </span>
          </div>
        </form>

      </div>

      <video autoplay poster="" id="bgvid" loop>
        <source src="video/video.webm" type="video/webm">
        <source src="video/video.mp4" type="video/mp4">
      </video>
      <div class="video-overlay"></div>
    </div>
    <nav class="navbar navbar-white navbar-fixed-bottom">

      <div class=" col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <ul class="nav navbar-nav nav-pills">
          <!-- <li><a href="#">about us</a></li>
					<li><a href="#">support</a></li>
					<li><a href="#">press</a></li>
					<li><a href="#">privacy</a></li>
					<li><a href="#">terms</a></li> -->
          <li>&copy; 2015 Groupenvy</li>
        </ul>
      </div>
    </nav>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="js/apps.js"></script>

</body>

</html>